header(class="bg-slate-800")
    div(class="flex justify-between items-center py-4 px-16")
        a(href="/" class="font-title text-teal-500 text-3xl flex items-center") 
            div.text-center 
                p(class="text-3xl") 
                | Mundo 
                br
                | Aventura
            img(src="/img/valija-logo.avif", alt="imagen maleta logo" class="w-12 -rotate-12") 
        nav(class="w-1/2 flex justify-end items-center gap-5 uppercase text-white font-subtitle")
            a(href="/nosotros" class="text-lg text-white tracking-wider py-2 px-3 border-teal-500 hover:border-b hover:border-teal-500 ease-in-out duration-300") Nosotros
            a(href="/viajes" class="text-lg text-white tracking-wider py-2 px-3 border-teal-500 hover:border-b hover:border-teal-500 ease-in-out duration-300") Viajes
            a(href="/testimoniales" class="text-lg text-white tracking-wider py-2 px-3 border-teal-500 hover:border-b hover:border-teal-500 ease-in-out duration-300") Testimoniales 

